<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/svg+xml" href="/favicon.png"/>
    <title>{{ .Title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- FONTS (from https://www.bramstein.com/writing/web-font-loading-patterns.html) -->
    <link href="/css/fira.css" rel="stylesheet">
    <script src="/javascript/fontfaceobserver.js"></script>
    <script>
      // Add a css class to the <body> when the font is loaded
      // (or was already loaded during the current session).
      function fontObserver(fontName) {
        var timeout = 30000, // 30s
            fontLoadedKey = fontName.toLowerCase().replace(/\s+/g, '-') + '-loaded';
        if (sessionStorage[fontLoadedKey]) {
          document.documentElement.classList.add(fontLoadedKey);
          return Promise.resolve();
        }
        return new FontFaceObserver(fontName)
          .load(null, timeout)
          .then(function() {
            document.documentElement.classList.add(fontLoadedKey);
            sessionStorage[fontLoadedKey] = true;
          })
          .catch(function() {
            console.log('Loading of ' + fontName + ' font failed or timed out.');
            delete sessionStorage[fontLoadedKey];
          });
      }
      fontObserver('Fira Sans').then(function() {
        fontObserver('Fira Mono')
      });
      ;
    </script>
    <!-- /FONTS -->
  </head>
  <body>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-left header__logo">
                  <img src="/logo.svg" alt="Logo" height="40px" /></a>
                <a class="navbar-brand" href="/"> {{ .Site.Title }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/à-propos/qui/">Qui sommes-nous ?</a></li>
                    {{ range .Site.Menus.main }}
                        {{ if ne .Name "À propos" }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
