{{ partial "header.html" . }}
{{range where .Data.Pages "Type" "à propos"}}
    {{if eq .RelPermalink "/index.html" }}
        <h1>404 : page introuvable</h1>
        <p>Oh ! On dirait que les pages ont pris leur liberté</p>
    {{end}}
{{ end }}
{{ partial "footer.html" . }}
